.TabMenu {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 40px;
  left: 0;
}

.TabMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.TabMenu ul li {
  height: auto;
  top: 0;
  border: none;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  animation: fadeIn 0.3s;
}

.TabMenu li:hover {
  background-color: #f0f0f05b;
  transition: background-color 0.3s;
}
