.NavClose {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 5px;
}

.NavClose ul li {
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  margin: 0 5px 10px 5px;
  background-color: rgba(255, 105, 105, 0.4);
  backdrop-filter: blur(5px);
}
