.GroupDetails {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GroupDetails ul {
  min-width: 400px;
}

.GroupDetails .buttonBox {
  margin: 15px auto 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.GroupDetails button {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.GroupDetails .applyChanges {
  background-color: #4caf50;
}

.GroupDetails .applyChanges:disabled {
  cursor: default;
  opacity: 0.5;
}

.GroupDetails .DangerousOperations {
  display: flex;
  flex-direction: column;
  border: 1px solid #f44336;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px;
}

.GroupDetails .DangerousOperations button {
  background-color: #f44336;
  margin-top: 10px;
}

.GroupName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.GroupName h1 {
  margin: 0 10px;
}

.GroupName input {
  font-size: 24px;
  border-radius: 5px;
}
