.Group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Group.fade-in {
  animation: fadeIn 1s forwards;
}

.Group.fade-out {
  animation: fadeOut 0s forwards;
}

.Group a img {
  max-width: 150px;
  margin: 40px;
}
