.PopUpModal {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.popup-window {
  background-color: #9cc8e7;
  color: black;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-window:focus {
  outline: none;
}

.PopUpModal h1 {
  color: black;
  font-family: "Oxygen Mono", monospace;
  margin-bottom: 15px;
}

.PopUpModal button {
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: black;
  cursor: pointer;
  align-self: center;
}

.PopUpModal input {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: black;
  align-self: center;
}

.PopUpModal label {
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: black;
  align-self: center;
}

.PopUpModal .green {
  background-color: #4caf50;
}

.PopUpModal .red {
  background-color: #f44336;
}

.PopUpModal .buttonBox {
  display: flex;
  justify-content: center;
  margin: auto;
}

.PopUpModal button:disabled {
  cursor: default;
  opacity: 0.5;
}
