.Settings h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.Settings h2 {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

#config-url {
  width: 33%;
}

.Settings {
  font-family: monospace;
  color: white;
}

.refresh-icon {
  color: white;
  margin-left: 5px;
}
