.Settings h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Settings h2 {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.Settings > div {
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.4);
  margin: 0 10px 20px 10px;
  padding: 20px;
  max-width: fit-content;
  border-radius: 5px;
}

#background,
#config-url {
  width: 400px;
}

.Settings {
  font-family: monospace;
  color: white;
}

.refresh-icon,
.download-icon {
  color: white;
  margin-left: 5px;
}
